endpoint=http://localhost:7001/tim/ApplyTaxWSSoap12HttpPort?WSDL
timdb_jdbc=jdbc:oracle:thin:@localhost:1521:xe
timdb_user=timdb
timdb_password=timdb
taxbasedb_jdbc=jdbc:oracle:thin:@localhost:1521:xe
taxbasedb_user=taxbase
taxbasedb_password=taxbase
ignore=false
